@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
<script src="~/dist/index.entry.js" defer></script>
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <fluent-data-grid id="samplegrid" style="max-height: 30em; overflow-y: auto;">
    </fluent-data-grid>
</div>
